[include]
	path = ~/.gitconfig.local
[user]
  name = Munam Mubashir
  email = 38868658+aightmunam@users.noreply.github.com
[status]
	relativePaths = true
[pull]
	rebase = false
[push]
	default = current
[clone]
	defaultRemoteName = origin
[transfer]
	fsckObjects = true
[fetch]
	fsckObjects = true
	prune = true
[merge]
	conflictStyle = zdiff3
[diff]
	algorithm = histogram
	colorMoved = default
[branch]
	sort = -committerdate
[rebase]
	autoStash = true
[commit]
	verbose = true
[init]
	defaultBranch = master
[help]
	autocorrect = 20
[rerere]
	enabled = true
[alias]
	git = !exec git
	a = add
	aa = add --all
	all = add .
	c = commit -m
	ca = commit --amend
	nb = checkout -b
	b = branch
	ba = branch --all
	co = checkout
	f = fetch
	fa = fetch --all
	d = !git diff --exit-code && git diff --cached
	dif = diff
	r = pull --rebase
	m = merge
	p = push -u
	fp = push --force-with-lease
	rs = reset --soft HEAD~1
	s = status
	cl = clone --depth=1
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -n 15
	la = log --graph --all
	addnw = !sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'
	res = restore --staged
	backup = commit -m ':WIP: Backup' --no-verify
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = always
[color "diff"]
	meta = yellow bold
	frag = magenta
	plain = white bold
	old = red bold
	new = green bold
	commit = yellow bold
	func = green dim
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "branch"]
	current = yellow reverse
	local = yellow
  remote = green

